{{- $css := resources.Get "css/extended/gothic.css" -}}
{{- if $css -}}
  {{- $css = $css | minify | fingerprint -}}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
{{- end -}}
<link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | relURL }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<div id="reading-progress" aria-hidden="true"></div>
<canvas id="particle-canvas" aria-hidden="true"></canvas>
{{- if .IsPage }}
{{- $section := .Section }}
<script>document.documentElement.classList.add("section-{{ $section }}");</script>
{{- end }}
